<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Accountancy.Properties.Settings.HesabdariConnectionString"
            connectionString="Data Source=.;Initial Catalog=Hesabdari;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>